<div id="sub-nav" class="active-scaffold active-scaffold-call">
  <%= link_to "season", :controller => "seasons", :action => "list" %> &nbsp; | &nbsp;
  <%= link_to "division", :controller => "divisions", :action => "list" %> &nbsp; | &nbsp;
  <%= link_to "team", :controller => "teams", :action => "list" %> &nbsp; | &nbsp;
  <%= link_to "player", :controller => "players", :action => "list" %> &nbsp; | &nbsp;
  <%= link_to "game", :controller => "games", :action => "list" %> &nbsp; | &nbsp;
  <%= link_to "stats", :controller => "stats", :action => "list" %> &nbsp; | &nbsp;
</div>